*{
background-color:#ffdfd3;
margin:0;
padding:0;
font-family:Century Gothic;
}

.move
{
position:absolute;
left:40%;
}
.a
{
font-weight:bold;
font-color:black;
}
.b
{
font-weight:bold;
font-color:black;
}
.c
{
font-weight:bold;
font-color:black;
}
.ev
{font-weight:bold;
float:left;
margin-right:50px;
margin-top:99px;
}
.ev1
{
font-weight:bold;
float:right;
margin-bottom:95px;
margin-left:390px;
position:absolute;
}
.e
{
font-weight:bold;
float:center;
margin-top:55px;
margin-left:25px;


}
.main
{
max-width:1200px;
margin:auto;

}

